// GRID LAYOUT ============ //

.container {
    padding: 0 10px;
    @include md ($bp-tablet) {
        max-width: 1400px;
        margin-left: auto;
        margin-right: auto;
        @include flex($display: block)
    }
}

.row {
    display: flex;
    padding: 1em 10px;
    @include flex($direction: column);
    @include md ($bp-tablet) {
        @include flex($direction: row);
    }
}

.centered {
    @include md ($bp-tablet) {
        @include center-element;
    }
}

[class^=col] {
    margin-top: 10px;
    flex-basis: 100%;
    min-height: 25px;
    padding: 10px;
    border-radius: 5px;
    @include md ($bp-tablet) {
        justify-content: center;
        margin-top: 0;
        align-items: center;
        @include flex($display: flex);

        + [class^=col] {
            margin-left: 10px;
        }
    }
}

// ** For Loop ** //

@for $i from 1 through 12 {
    .theme.col-#{$i} {
        background-color: map-get($map: $col-colors, $key: 'color-col-#{$i}');
    }
    
    @include md ($bp-tablet) {
        .col-#{$i} {
            @include flex($basis: $i * (25%/3));
        }
    }
}

.card {
    @include flex($basis: 100%);
}



