// IMAGE ELEMENTS ============ //

// ** Nested and Appended Structure ** //
.img {
    &-logo {
        @include center-element;
        @include md ($bp-tablet) {
            margin-left: initial;
            margin-right: initial;
        }
    }
    
    &-avatar {
        @include center-element ($margin-top: 10px, $max-width: 100%, $max-height: 100%);
    }

    &-frame {
        @include center-element ($margin-top: 10px, $max-width: 100%);
        padding: 13px;
        border: 1px solid $color-img-frame;
    }
}
