// FONTS - Colors, Syling, and Spacing ============ //

* {
    font-family: $font-primary;
    color: $color-text;
    box-sizing: border-box;
}

h1 {
    color: $color-primary;
    margin-left: 10px;
}

h4 {
    font-weight: 300;
}

// ** Nested Structure ** //
p {
    line-height: 1.45em;
    
    a {
        color: $color-link;
        font-weight: 700;
    }

    em {
        font-style: italic;
    }

}

a {
    text-decoration: none;
}

blockquote {
    font-size: 1.5em;
    font-weight: 300;
    font-style: italic;
    margin-left: 20px;
    padding-left: 20px;
    border-left: 8px solid $color-primary;
    border-radius: 5px;
}

.btn {
    text-transform: uppercase;
    color: white;
}

input,
button {
    font-size: 11px;
}
